section{
  position: absolute;
  width: 100%;
}
form{
    border: 1px solid black;
    margin: 10% auto;
    text-align: left;
    width: 60%;
    position: relative;

}

input,
label,
button{
    /* display: block; */
    
    margin:1% ;

}
button{
  padding: 5px;
}


input .check{
  /* align-items:center; */
  text-align: left;
  position:relative;

}

