@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Licorice&family=Moon+Dance&family=Rubik:wght@300&family=The+Nautigal&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Licorice&family=Moon+Dance&family=Rubik:wght@300&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Licorice&family=Moon+Dance&family=Quicksand&family=Rubik:wght@300&family=The+Nautigal&family=Vujahday+Script&display=swap');
.navbar-brand{
    color:#edc3d1;
    padding-left:3%;
    padding-right:3%;
    font-size: 2rem;
    font-family: Island Moments;
    font-weight: bold;
}
.navbar-toggler   {
    color:red;
    background-color: whitesmoke;
 
}
.navbar-toggler-icon{
    color:red;
}
main{
    border: 2px solid brown;
    position: absolute;
    width: 100%;
}
li{
    margin: 3px;
}
li .nav-link{
    background-color: blue;
    
   
    color: white;
    
}
 

.post{
    // border:2px solid green;
    margin:0 auto;
    grid-column:1/2;
    position: relative;
  
}
.post-display{
    margin: 2%;
    background-color: burlywood;
    border-radius:18rem 0 18rem 0;
    padding: 2%;
    border: 1px solid brown;
    width: 40%;
    display: none;

  
}
.display{
    margin-left:13% ;
    background-color:#518a8d ;
    color:#edc3d1 ;
    font-weight: lighter;
    padding-left: 2%;
 border-radius:18rem 0 18rem 0 ;
 text-align:center;
    width: 40%;
}
.right{
    border:2px solid greenyellow;
    margin-right: 2%;
   
    width: 25%;
    float: right;
}
.right h2{
    margin-left: 10%;
    margin-top: 10%;

}
.note{
    margin-left: 10%;
     
}
.left{
    border: 2px solid pink;
    width: 73%;
    float:left;
}
.post-button{
    border:2px solid red;
    position:inherit;
}
.post{

    border:2px solid blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 5%;
    
 
    
}
.post{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
 
img{
    background-size: cover;
    height:300px;
    width: 100%;
    

}
.button-group{
    margin:0 auto;
}
.nav-header{
    background-color: oldlace;
    min-height:20rem;
    height: auto;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('../../../assets/home-head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.first {
    border:2px solid red;
}
 
  .tartalom-button{
      border: none;
      background-color:inherit;
      text-decoration: none;
  }