<section class="nav-header">
<nav class="navbar navbar-expand-lg navbar-light ">

  <a class="navbar-brand" href="#">
    Meerky
  </a>

  <button class="navbar-toggler button" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Kezdőlap</a>
      </li>

      <li class="nav-item">

        <a class="nav-link"  routerLink="card" (click)="showByCategory2('Traditional' );onclick()">Hagyományos</a>
      </li>

      <li class="nav-item">

        <!-- <a class="nav-link"   (click) ="showByCategory('Diab','')" > -->
        <a class="nav-link" routerLink="card" (click)="showByCategory2('Diab' );onclick()">Diab</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="card" (click)="showByCategory2('Vegetarian' );onclick()">Vegetáriánus</a>
      <li class="nav-item">
        <a class="nav-link" href="vegan" routerLink="card" (click)="showByCategory2('Vegan' );onclick()">Vegán</a>
          <!-- <a class="nav-link"   (click) ="showByCategory('','soup')" > -->
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="showByCategory2('Traditional' );onclick()">Menü tervező</a>
      </li>
    </ul>
  </div>
</nav>
<div class="button-group" >
  <div class="top-div">
   
    <div class="btn-group">
      
      <button class="select-btn" routerLink="recipe-card" (click)="showType('soup')"  >Levesek</button>
      <button class="select-btn" routerLink="recipe-card" (click)="showType('vegetable-dish')">Főzelékek</button>
      <button class="select-btn" routerLink="recipe-card" (click)="showType('bread')">Kenyerek</button>
      <button class="select-btn" routerLink="recipe-card" (click)="showType('meet')">Husok</button>
      <button class="select-btn" routerLink="recipe-card" (click)="showType('cake')">Sütemények</button>
      <button class="select-btn" routerLink="recipe-card" (click)="showType('canning')">Befőzés</button>
    </div>
    </div>
  </div>
</section>
 <!--
<section class="post-button">

  <div class="button-group" >
    <div class="top-div">

      <div class="btn-group">

        <button class="select-btn" routerLink="recipe-card" (click)="showType('soup')"  >Levesek</button>
        <button class="select-btn" routerLink="recipe-card" (click)="showType('vegetable-dish')">Főzelékek</button>
        <button class="select-btn" routerLink="recipe-card" (click)="showType('bread')">Kenyerek</button>
        <button class="select-btn" routerLink="recipe-card" (click)="showType('meet')">Husok</button>
        <button class="select-btn" routerLink="recipe-card" (click)="showType('cake')">Sütemények</button>
        <button class="select-btn" routerLink="recipe-card" (click)="showType('canning')">Befőzés</button>
      </div>
      </div>
    </div> -->
   <!--
  <div class="container" >
    <h2 class="post-display" >{{toDisplay}}</h2>
    <div class="first red" *ngFor="let recipe of recipes ,let i=index">

      <ng-container *ngIf="visible" >


      <img [src]="recipe.imgUrl" alt="Egészséges tápláékozás">
      <div n class="text-folder">
        <h4>{{recipe.name}}</h4>

      </div>

      <button type="button"> <a  (click)="chooseRecipe(recipe)" >Tovább a recepthez .. </a></button>
    </ng-container>
    </div>
  </div>


</section>
-->
<main>
 <section class="right">
   <h2>tartalom</h2>
  <div *ngFor="let recipe of Recipes" (click)="sortRecipe()" class="note">
<button type="button"><a  (click)="chooseRecipe(recipe)">  {{recipe.name}}</a></button>
  
</div>
 </section>

 <section class="left">
<h4 class="display">{{toDisplay}}</h4>
<section class="post">

    <div class="container" *ngFor="let recipe of recipes ,let i=index">
        <div class="first red">
            <img [src]="recipe.imgUrl" alt="Egészséges tápláékozás">
            <div n class="text-folder">
                <h4>{{recipe.name}}</h4>

            </div>
            <button type="button"> <a (click)="chooseRecipe(recipe)">Tobább a recepthez .. </a></button>
        </div>
    </div>

</section>
</section>
</main>
<!-- <div class="container mt-5">
  <div class="row">
      <div class="col-md-12">

          <button (click)="onclick()" type="button" class="btn  btn-danger">
            {{ReadMore?"Read More":"Read Less"}}
          </button>


          <ng-container *ngIf="visible">
              <div class="bg-white shadow-sm p-3">
                  <h4>Hello World</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse tempore aut molestiae, unde non soluta! A, nesciunt. Earum facere totam error, nam placeat, quia, veritatis aspernatur voluptate vitae fugit odit.
                  </p>
              </div>
          </ng-container>




      </div>
  </div>
</div>
-->